body{
    background-image: url(netflix\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;
    margin-right:95px;
}
form{
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,0.7);
    width: 400px;
}
.a,.b{
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,1);
    width: 330px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    color: white;
}
button{
    width: 330px;
    height: 50px;
    border-radius: 5px;
    background-color: red;
    color: white;
}
button:hover{
    opacity: 0.8;
}
#a{
    
    display: flex;
    align-items: center;
}
#b{
    margin-left: 140px;
}
.c{
    accent-color: gray;
    margin-left: 35px;
}
p {
    color: darkcyan;
}
h4{
    color:white; 
}
.d{
    align-items: center;
    display: flex;
}
.e{
    margin-left:42px;
}
legend{
    color: darkcyan;
}